@model DACN.Models.BusinessModel.OderDonDatHang
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">
    <title>Chợ kỹ năng</title>
    <script src="~/assets/plusins/ckeditor/ckeditor.js"></script>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    @Styles.Render("~/bundles/core")
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/fonts/themify-icons.css">
    <style>

        .header-logo {
            box-sizing: border-box;
            display: inline-block;
            padding: 10px;
            vertical-align: top;
            white-space: normal;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 39px;
        }

        .fit-breadcrumbs {
            box-sizing: border-box;
            display: inline-block;
            padding: 10px;
            vertical-align: top;
            white-space: normal;
            padding: 0;
            display: inline-block;
        }

            .fit-breadcrumbs ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0;
                list-style: none;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .fit-breadcrumbs li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                color: grey;
            }

                .fit-breadcrumbs li .fit-crumb {
                    font-weight: 500;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    text-decoration: none;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                    .fit-breadcrumbs li .fit-crumb.fit-current .step-number {
                        background-color: #ff4f57;
                    }

                    .fit-breadcrumbs li .fit-crumb.fit-current .step-number {
                        background-color: #ff4f57;
                    }

                    .fit-breadcrumbs li .fit-crumb .step-number {
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 0px 8px;
                        text-align: center;
                        border-radius: 50%;
                        color: #fff;
                        margin-right: 10px;
                        font-size: 14px;
                        background-color: #ccc;
                    }

                    .fit-breadcrumbs li .fit-crumb.fit-current .step-description {
                        color: #ff4f57;
                    }

                    .fit-breadcrumbs li .fit-crumb.fit-current .step-description {
                        color: #ff4f57;
                    }

                    .fit-breadcrumbs li .fit-crumb .step-description {
                        font-size: 15px;
                    }

                .fit-breadcrumbs li .separator {
                    font-size: 10px;
                    margin: 0 15px;
                    color: #999;
                }

        .base-header {
            background: #fff;
            border-bottom: 1px solid #ddd;
        }

            .base-header .header-row {
                margin: 0 auto;
                box-sizing: border-box;
                max-width: 1400px;
                min-width: 300px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 5px 15px 15px 40px;
                position: relative;
            }
    </style>
</head>
<body>

    @RenderPage("~/Views/Shared/Header.cshtml")

    @using ((Html.BeginForm("OrderOffer", "BaiDang", new { masp = @Model.Baidang.MaSP },
        FormMethod.Post,
        new { enctype = "multipart/form-data" })))
    {
        <header class="base-header js-main-header">
            <div class="header-row">




                <div id="js-checkout-breadcrumbs" class="pro-exp">
                    <nav data-reactroot="" class="fit-breadcrumbs">
                        <ul>
                            <li>
                                <span class="fit-crumb fit-current">
                                    <span><span class="step-number">1</span><span class="step-description">Order Details</span></span>
                                </span><i class="separator fa fa-chevron-right"></i>
                            </li>
                            <li><span class="fit-crumb fit-next"><span class="step-number">2</span><span class="step-description">Confirm &amp; Pay</span></span><i class="separator fa fa-chevron-right"></i></li>
                            <li>
                                <span class="fit-crumb fit-next"><span class="step-number">3</span><span class="step-description">Submit Requirements</span></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section class="job-detail section">
            <div class="container">
                <div class="row">
                    <h3>@TempData["ErrorOffer"]</h3>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="content-area">
                            <div class="clearfix">
                                <div class="box">
                                    <header style="padding-left:0!important">
                                        <h4 class="header-box" style="font-size:28px!important;color:#ff4f57!important;padding-bottom:20px!important">Tùy Chỉnh Đơn Hàng</h4>

                                    </header>
                                    <div>
                                        <div class="gig-summary">
                                            <a href="@Url.Action("ServiceDetails", "BaiDang", new { masp = Model.Baidang.MaSP })">
                                                @if (Model.hinh.TenHinhAnh != null)
                                                {
                                                    <img src="~/assets/images/@Model.hinh.TenHinhAnh" alt="" style="width:150px;">
                                                }
                                                <div class="user-profile-label">
                                                    <div class="username-line">
                                                        @if (Model.Baidang.TenSP != null)
                                                        {
                                                            <h3 class="name-pack"><a href="@Url.Action("ServiceDetails","BaiDang",new { masp=Model.Baidang.MaSP})" class="seller-link">@Model.Baidang.TenSP</a></h3>
                                                        }

                                                    </div>
                                                    <div class="rp-ratting service-details-rp">
                                                        <strong class="strong-review strong-re-rp">5.0</strong>
                                                        <span class="fa fa-star checked ic-rp"></span>
                                                    </div>
                                                    <small class="wrap-item-star">
                                                        <div class="ratings-wrapper rate-rp">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                        </div>
                                                        <strong style="padding-left:5px" class="strong-review rate-rp">5.0</strong>
                                                        <span class="user-rev rate-rp" style="color:#ccc">(20 đánh giá)</span>
                                                    </small>
                                                    <a class="drop-package" href="#" style="color:#ff4f57" onclick="gigincluded()">Xem đơn hàng của bạn bao gồm những gì <i class="fa fa-angle-down" style="font-weight:600"></i></a>
                                                </div>
                                            </a>
                                            <div class="pricing">
                                                <label class="quanlity">
                                                    <span>Số lượng</span>
                                                    <select id="qty-price" onchange="gettotal()"  name="SoLuongBaiDang">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                    </select>
                                                    <span class="price-quanlity"><input style="display:none;" type="text" id="price-product" value="@Model.Baidang.GiaSP" readonly /></span>
                                                    <span class="pricing-item">@Model.Baidang.GiaSP</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div id="package">
                                            @if (Model.ctdm.TenCTDM != null)
                                            {
                                                <h5>@Model.ctdm.TenCTDM</h5>
                                            }

                                            @if (Model.Baidang.MotaSP != null)
                                            {
                                                <p>
                                                    @Model.Baidang.MotaSP
                                                </p>
                                            }


                                            <p>
                                                @for (int i = 0; i < Model.listmeta.Count; i++)
                                                {
                                                    if (Model.listmeta[i] != null)
                                                    {
                                                        @Model.listmeta[i].TenMetaData
                                                        if (i < Model.listmeta.Where(a => a != null).Count() - 1)
                                                        {
                                                            <span>,</span>
                                                        }
                                                    }
                                                }
                                            </p>

                                            @foreach (var item in Model.listGigOffer)
                                            {
                                                if (item != null)
                                                {
                                                    foreach (var item2 in Model.listctsp)
                                                    {
                                                        if (item2.MaGigMetaData == item.MaGigMetaData && item2.TrangThai == false && item2 != null)
                                                        {

                                                            <ul>
                                                                <li><i class="ti-check-box"></i>@item.TenGigMetaData</li>
                                                            </ul>
                                                        }
                                                    }
                                                }
                                            }

                                        </div>
                                        <div class="upgrades">
                                            <h4>Mô Tả Đơn Đặt Hàng Của Bạn</h4>
                                            <textarea name="MotaDDH" cols="90" rows="4"></textarea>
                                            @*<script>
                                                    CKEDITOR.replace('MotaDDH');
                                                </script>*@
                                        </div>
                                        <div class="upgrades">
                                            <h4>Câp Nhật Thêm Dịch Vụ</h4>
                                            @foreach (var item in Model.listGigOffer2)
                                            {

                                                if (item != null)
                                                {

                                                    foreach (var item2 in Model.listctsp2)
                                                    {
                                                        if (item2.MaGigMetaData == item.MaGigMetaData && item2 != null)
                                                        {
                                                            <div class="upgrade">
                                                                <div class="details">
                                                                    <label><input type="checkbox" id="metegig" name="gigMetaData" data-price="@item2.GiaCTSP" value="@item.TenGigMetaData" onchange="gettotal()"></label>
                                                                    <p>@item.TenGigMetaData</p>
                                                                    <input type="hidden" id="price-package" name="name" value="@item2.GiaCTSP" />
                                                                </div>
                                                                <div class="pricings">
                                                                    <span class="price pricing-item" value="@item2.GiaCTSP">@item2.GiaCTSP (@item2.SoLuong Ngày)</span>
                                                                    <select id="qty-package" name="SoLuongGig" onchange="gettotal()">
                                                                        <option value="1" selected>1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <aside>
                            <div class="sidebar">
                                <div class="box" style="padding :30px 30px 0px 30px!important; margin-bottom:0!important">
                                    <h2 class="small-title">Summary</h2>
                                    <ul class="detail-list">
                                        <li>
                                            <a>Tạm tính</a>
                                            <span class="type-posts"><input type="text" id="pricecheckout" readonly onchange="gettotal()" /></span>
                                        </li>
                                        <li>
                                            <a id="tooltips" data-tip="Điều này giúp chúng tôi vận hành nền tảng của chúng tôi và cung cấp hỗ trợ khách hàng 24/7 cho các đơn đặt hàng của bạn
">
                                                Phí dịch vụ<i style="color:black;padding-left :5px!important" class="fa fa-question-circle"></i>
                                            </a>
                                            <span class="type-posts"><input type="text" id="pricetax" readonly onchange="gettotal()" /></span>
                                        </li>
                                        <li>
                                            <a>Tổng</a>
                                            <span class="type-posts" id="totalMoney"><input type="text" id="endtotal" readonly onchange="gettotal()" /></span>
                                        </li>
                                        <li>
                                            <a>Thời gian giao</a>
                                            <span class="type-posts"><input type="text" value="@Model.Baidang.ThoiGianGiao Days" readonly /></span>
                                        </li>
                                        <li>
                                            <input data-toggle="modal" data-target="#submitOffer" type="button" class="btn btn-common submit-btn-offer" id="thanhtoan" value="Thanh toán" />

                                            <div class="modal fade" id="submitOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-rp" role="document">
                                                    <div class="modal-content">
                                                        <form>
                                                            <div class="modal-header">
                                                                <h3 class="modal-title" id="exampleModalLabel">Thông báo đơn hàng</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">


                                                                <div class="form-group col-md-12">
                                                                    <label for="recipient-name" class="col-form-label">Seller đang thực hiện đơn hàng khác, bạn có muốn tiếp tục? Đơn hàng sẽ vào hàng chờ sau khi seller hoàn thành đơn hàng trước sẽ thực hiện đơn hàng của bạn!</label>

                                                                </div>

                                                            </div>
                                                            <div class="modal-footer footer-magrin">
                                                                <button class="btn btn-danger btn-custom" type="button" data-dismiss="modal"><a style="color:white" href="#">Hủy bỏ</a></button>
                                                                <button class="btn btn-success btn-custom" onclick="sad()" type="submit">Thanh Toán</button>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                        <li>
                                            <small>Bạn sẽ không mất giao dịch</small>
                                        </li>
                                        <li>
                                            <div class="payment-logos"><div class="logos"></div></div>
                                            <div class="payment-security-badges"><div class="ssl-notice"><h6><span>SSL</span><span>SECURED PAYMENT</span></h6><p><span>Your information is protected by 256-bit SSL encryption</span></p></div><span id="siteseal"></span><span class="mcafee-notice hidden"><a target="_blank" rel="noopener noreferrer" href="https://www.mcafeesecure.com/verify?host=www.fiverr.com"><img class="mfes-trustmark mfes-trustmark-hover" src="//cdn.ywxi.net/meter/www.fiverr.com/102.gif" width="109" height="45" title="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams"></a></span></div>
                                        </li>


                                    </ul>
                                </div>



                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    }

    @RenderPage("~/Views/Shared/Footer.cshtml")
    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    @*<script type="text/javascript">
            $(function () {
                // Reference the auto-generated proxy for the hub.
                console.log("test");
                $.connection.hub.qs = { 'uid': '@Html.Raw(Session["mataikhoan"])' };
                var chat = $.connection.chatHub;
                $('#thanhtoan').click(function () {

                    });
            });
        </script>*@
    <script>

        $(document).ready(function () {
            var str = $(".pricing-item");
            for (let i = 0; i < str.length; i++) {
                var formatstr = str[i].innerHTML.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                str[i].innerHTML = formatstr;

            }

        });
    </script>
    <script>
        function gigincluded() {

            var btn = document.getElementsByClassName("drop-package");

            var x = document.getElementById("package");
            if (x.style.display === "none") {
                x.style.display = "block";
                $("i", btn).toggleClass("fa-angle-up fa-angle-down");


            } else {
                x.style.display = "none";
                $("i", btn).toggleClass("fa-angle-up fa-angle-down");

            }
        }
    </script>


    <script>
        $(document).ready(function gettotal2() {
            var qtyTotal = parseInt(document.getElementById('qty-price').value); //soluong
            var priceService = parseInt(document.getElementById('price-product').value); //dongia
            var priceTotal = qtyTotal * priceService; //tong don gia
            var tempTotal = priceTotal; // bien tam tong don gia
            priceTotal = priceTotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format tong don gia

            var tempPriceTotal = tempTotal;
            var priceTax = tempPriceTotal / 100 * 10; //phi vat
            var tempPriceTax = priceTax; // phi tam vat
            priceTax = priceTax.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format vat

            document.getElementById("pricecheckout").value = priceTotal;
            document.getElementById("pricetax").value = priceTax;
            var endtotal = tempTotal + tempPriceTax;
            endtotal = endtotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format totalprice

            document.getElementById("endtotal").value = endtotal;

        });
    </script>
    <script>
        function gettotal() {
            var qtyTotal = parseInt(document.getElementById('qty-price').value); //soluong
            var priceService = parseInt(document.getElementById('price-product').value); //dongia
            var priceTotal = qtyTotal * priceService; //tong don gia
            var tempTotal = priceTotal; // bien tam tong don gia
            priceTotal = priceTotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format tong don gia
            var tempPriceTotal = tempTotal;
            var priceTax = tempPriceTotal / 100 * 10; //phi vat
            var tempPriceTax = priceTax; // phi tam vat
            priceTax = priceTax.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format vat

            document.getElementById("pricecheckout").value = priceTotal;
            document.getElementById("pricetax").value = priceTax;
            var endtotal = tempTotal + tempPriceTax;
            var chkbox = document.getElementById("metegig");
            if (chkbox.checked == true) {
                var qtyPackage = parseInt(document.getElementById('qty-package').value);
                var pricePackage = parseInt(document.getElementById('price-package').value);
                var totalPackage = qtyPackage * pricePackage;
                endtotal += totalPackage;
            }
            endtotal = endtotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }); //format totalprice
            document.getElementById("endtotal").value = endtotal;

        }
    </script>

    <script>
        function sad() {
            var getX = document.getElementById("endtotal").value.toString();
            var x = getX.replace("₫", "");
            var dad = { money: x };
            var tat = JSON.stringify(dad);
            $.ajax({
                type: "POST",
                url: '@Url.Action("checkMoney","BaiDang")',
                contentType: "application/json; charset=utf-8",
                data: tat
            });
        };
    </script>
</body>
</html>