
@model DACN.Models.BusinessModel.QuanLyBaiDangModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Chợ Kỹ Năng">
    <title>Service Account</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/fonts/themify-icons.css">
    @Styles.Render("~/bundles/core")

    <style>
        @@media (min-width: 992px) {
            .gig-card-layouts {
                width: 75% !important;
            }
        }

        @@media (min-width: 1200px) {
            .gig-card-layouts {
                width: 50% !important;
            }
        }


        @@media (min-width: 1430px) {
            .gig-card-layouts {
                width: 30% !important;
            }
        }
    </style>


</head>
<body>
    @RenderPage("~/Views/Shared/Header.cshtml")

    @if (Model != null)
    {
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="right-sideabr">
                            <div class="inner-box">
                                <div class="seller-card">
                                    @*<div style="position: absolute; right: 0px; height: 20px; left: 0px;">
                                            <div class="user-online-indicator " data-user-id="66626159">
                                                <i class="fa fa-circle"></i> online
                                            </div>
                                        </div>*@
                                    <div class="user-profile-info">
                                        <div>

                                            <div class="user-profile-image">
                                                <label class="user-pict user-pict-150 " for="profile_image">
                                                    @if (Model.TenHinhDaiDien.TenHinhAnh != null)
                                                    {
                                                        <img src="~/assets/images/@Model.TenHinhDaiDien.TenHinhAnh"
                                                             class="user-pict-img" alt="@Model.taikhoan.TenTaiKhoan">
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                        <div class="user-profile-label">
                                            <div class="username-line"><a href="/fantasticpro1" class="seller-link" rel="nofollow,noindex">@Model.taikhoan.TenTaiKhoan</a></div>
                                            <div class="oneliner-wrapper">
                                                <small class="oneliner">Social Media Manager</small>
                                                <div class="ratings-wrapper">
                                                    <small class="wrap-item-star padding-mid">
                                                        <div class="ratings-wrapper" style="padding:0 5px 0 0!important">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                        </div>
                                                        <strong class="strong-review" style="color:black; font-weight:600">5.0</strong>
                                                        <span class="user-rev" style="color:#999">(20 đánh giá)</span>
                                                    </small>
                                                </div>
                                                <div class="buttons-wrapper" style="color:#999">
                                                    <a href="#" class="btn-contact" data-toggle="modal" data-target="#exampleModal" data-whatever="@*@mdo*@">Liên hệ ngay</a>
                                                </div>
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                                        <input type="text" class="form-control" id="recipient-name">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="message-text" class="col-form-label">Tin nhắn:</label>
                                                                        <textarea class="form-control" id="message-text"></textarea>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Xóa</button>
                                                                <button type="button" class="btn btn-primary">Gửi tin nhắn</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-stats-desc">
                                        <ul class="user-stats cus-user-stats">
                                            <li class="location">
                                                Nơi sống

                                                <strong style="padding:0!important">Hồ Chí Minh</strong>
                                            </li>
                                            <li class="member-since">
                                                Bắt đầu
                                                <strong style="padding:0!important">10 - 2017</strong>
                                            </li>
                                            <li class="response-time">
                                                Thời gian phản hồi
                                                <strong style="padding:0!important">1 giờ</strong>
                                            </li>
                                            <li class="recent-delivery">
                                                Đơn hàng hoàn thành gần đây
                                                <strong style="padding:0!important">3 ngày</strong>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <ul class="lest">
                                    <li><a href="@Url.Action("Suathongtin","Home")">Cập nhật tài khoản</a></li>
                                    <li><a href="@Url.Action("BookMarked","Home")">Đã lưu</a></li>
                                    <li><a href="@Url.Action("Notifications","Home")">Thông báo<span class="notinumber">2</span></a></li>
                                    <li><a href="@Url.Action("ChanglePassword","Home")">Thay đỗi mật khẩu</a></li>
                                    <li><a href="@Url.Action("Logout","Home")">Đăng xuất</a></li>
                                </ul>
                            </div>
                            <div class="inner-box">

                                <ul class="lest item">
                                    <li>
                                        <aside>
                                            <h5>
                                                Mô tả
                                                <a class="add" href="@Url.Action("SuaMoTa","Home")">Chỉnh sửa mô tả</a>
                                            </h5>
                                        </aside>
                                        <hr>
                                        <section>
                                            <article class="seller-desc ">
                                                <div class="inner">I provide Online Marketing Management to businesses trying to generate new costumers from online sources. I believe in trust, responsibility and hard work.I cooperate with people to fill the gap between a weak business and a successful one. @Html.Raw(@Model.taikhoan.MoTaTaiKhoan)</div>
                                                <a href="#!" class="read-more">+ See More</a>
                                            </article>

                                        </section>
                                    </li>
                                    <li>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="col-md-12">
                            <div class="title-action">
                                <ul class="nav nav-tabs-service">
                                    <li class="active"><a data-toggle="tab" href="#service2">THÊM KĨ NĂNG</a></li>
                                    <li><a data-toggle="tab" href="#service1">QUẢN LÍ KĨ NĂNG</a></li>
                                </ul>

                            </div>
                            <h3>@TempData["EditBaiDang"]</h3>
                            @foreach (var item in Model.listCTSP)
                            {
                                if (item != null)
                                {
                                    <div class="tab-content">
                                        <div id="service1" class="tab-pane fade in active">
                                            <div class="col-md-3 gig-card-layouts padding-gig-item">
                                                <div class="job-list">
                                                    <div class="swiper-slide swiper-slide-next" style="">
                                                        <div class="item">
                                                            <div class="name align-items-center row no-gutters">
                                                                <div class="image">
                                                                    @if (item.Hinh != null)
                                                                    {
                                                                        <a href='@Url.Action("ServiceDetails","BaiDang", new { masp = item.SP.MaSP })'>
                                                                            <img alt="" src="~/assets/images/@item.Hinh.TenHinhAnh">
                                                                        </a>
                                                                    }
                                                                </div>
                                                                <div class="namess">
                                                                    <a href='@Url.Action("ServiceDetails","BaiDang", new { masp = item.SP.MaSP })'>@Html.Raw(item.SP.MotaSP)</a>
                                                                </div>
                                                                <hr>
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="flex-container">
                                                                        <div class="col-md-6 text-center">
                                                                            <a href='@Url.Action("EditBaiDang","BaiDang", new { masp = item.SP.MaSP })' class="disable-select" onclick="">
                                                                                <i class="fa fa-pencil"></i>Chỉnh sửa
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-6 text-center ">
                                                                            <a href="@Url.Action("DeleteService","BaiDang", new { id = item.SP.MaSP })"><i class="fa fa-recycle"></i>Xóa</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                }

                            }
                            <div class="tab-pane fade in active" id="service2">
                                <div class="col-md-3 gig-card-layouts padding-gig-item">
                                    <div class="job-list">
                                        <div class="swiper-slide swiper-slide-next" style="">
                                            <div class="add-new-service" style="">
                                                <a href="@Url.Action("Service","BaiDang")">Tạo service mới</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <header style="display:flex">
                                <h2 class="header-box" style="font-size:24px!important; padding-right:15px">
                                    Đánh Giá

                                </h2>
                                <span class="header-box" style="font-size:20px!important; color:orange!important"><i class="text-warning fa fa-star"></i>5.0</span>
                                <span class="header-box" style="font-size:20px!important; color:#ddd; font-weight:500">(143)</span>

                                <div class="filer-review">
                                    <select class="filer-review-seller">
                                        <option value="value">Phổ Biến</option>
                                        <option value="value">Tích Cực</option>
                                        <option value="value">Tiêu Cực</option>
                                    </select>
                                </div>

                            </header>
                            <div class="wrap-reviews">
                                <div class="wrap-content-account">
                                    <div class="col-md-1" style="margin-right:0!important">
                                        <div class="user-profile-image" style="float:right!important">
                                            <label class="user-pict user-pict-36" for="profile_image">
                                                <img src="~/assets/img/testimonial/img2.jpg" class="img img-rounded img-fluid" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-11  hr-account" style="padding-left:0!important">
                                        <p style="margin:0!important">
                                            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Thien Anh</strong></a>

                                            <span class="float-right3"><i class="text-warning fa fa-star"></i>4.3</span>
                                        </p>
                                        <p class="p-comment">Dịch vụ tốt, chất lượng dịch vụ hoàn hảo, sản phẩm trên cả tuyệt vời!!!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="wrap-reviews">
                                <div class="wrap-content-account">

                                    <div class="col-md-1" style="margin-right:0!important">
                                        <div class="user-profile-image" style="float:right!important">
                                            <label class="user-pict user-pict-36" for="profile_image">
                                                <img src="~/assets/img/testimonial/img3.jpg" class="img img-rounded img-fluid" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-11  hr-account" style="padding-left:0!important">
                                        <p style="margin:0!important">
                                            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Văn Tâm</strong></a>

                                            <span class="float-right3"><i class="text-warning fa fa-star"></i>4.3</span>
                                        </p>
                                        <p class="p-comment">Rất chuyên nghiệp</p>

                                    </div>
                                </div>
                            </div>
                            <div class="wrap-reviews">
                                <div class="wrap-content-account">

                                    <div class="col-md-1" style="margin-right:0!important">
                                        <div class="user-profile-image" style="float:right!important">
                                            <label class="user-pict user-pict-36" for="profile_image">
                                                <img src="~/assets/img/testimonial/img1.jpg" class="img img-rounded img-fluid" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-11  hr-account" style="padding-left:0!important">
                                        <p style="margin:0!important">
                                            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Jonha</strong></a>

                                            <span class="float-right3"><i class="text-warning fa fa-star"></i>4.3</span>
                                        </p>
                                        <p class="p-comment">
                                            Great Work!

                                        </p>

                                    </div>

                                </div>
                                <div class="wrap-reviews">
                                    <a href="#" class="js-gtm-event-auto" data-gtm-category="gig-page-gig_tracking_type" data-gtm-action="click" data-gtm-label="reviews-show-more">+ See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @RenderPage("~/Views/Shared/Footer.cshtml")
    @Scripts.Render("~/bundles/js")
</body>

</html>
