@model DACN.Models.DataModel.GigMetaData

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}
@using (Html.BeginForm("ThemMoi", "QuanLyGigMetaData"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-lg-9">
        <br />
        <div class="card card-title-cs">
            <div class="card-header ">
                <strong>Thêm Loại MetaData</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Tên GigMetaData</label></div>
                        <div class="col-12 col-md-9">
                            @Html.EditorFor(model => model.TenGigMetaData, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenGigMetaData, "", new { @class = "text-danger" })
                            <span class="help-block">Vui lòng nhập tên GigMetaData</span>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Mô tả GigMetaData</label></div>
                        <div class="col-12 col-md-9">
                            @Html.EditorFor(model => model.MotaGigMetaData, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MotaGigMetaData, "", new { @class = "text-danger" })
                            <span class="help-block">Vui lòng nhập mô tả GigMetaData</span>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Thuộc Chi Tiết Danh mục</label></div>
                        <div class="col-12 col-md-9">
                            @Html.DropDownList("MaCTDM", null, new { @class = "form-control" })
                            <span class="help-block">Vui lòng chọn tên chi tiết danh mục</span>

                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button style="height:38px" type="submit" class="btn btn-success btn-sm btn-custom">
                    <i class="fa fa-dot-circle-o"></i> Lưu vào
                </button>
                <label style="margin-bottom:0!important;" class="btn btn-danger btn-custom">
                    <i class="ti-arrow-left"></i>
                    <a style="color:white; " href="@Url.Action("Index","QuanLyLoaiMetaData")">Trở về</a>
                </label>

            </div>
        </div>

    </div>
}