

@model DACN.Models.BusinessModel.DanhSachBaiDang

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">
    <title>Chợ kỹ năng</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    @Styles.Render("~/bundles/core")

    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/fonts/themify-icons.css">
</head>
<body>

    @RenderPage("~/Views/Shared/Header.cshtml")



    <section class="job-browse section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ">
                    @foreach (var item in Model.SanPham)
                    {
                        var ha = Model.TenHinhDaiDien.Where(a => a.MaTaiKhoan == item.MaTaiKhoan).FirstOrDefault();
                        var tentk = Model.TaiKhoan.Where(a => a.MaTaiKhoan == item.MaTaiKhoan).FirstOrDefault();
                        var ha2 = Model.TenHinhDaiDien.Where(a => a.MaSP == item.MaSP).FirstOrDefault();

                        <div class="col-md-4">
                            <div class="job-list">
                                <div class="swiper-slide swiper-slide-next" style="">
                                    <div class="item">
                                        <div class="name align-items-center row no-gutters">
                                            <div class="col-md-2 avatar">
                                                <a href="#" title="">
                                                    <img src="~/assets/images/@ha.TenHinhAnh" class="img-circle" alt="" width="40" height="40">
                                                </a>
                                            </div>
                                            <div class="col names">
                                                <a href="" title="">@tentk.TenTaiKhoan</a>
                                                <div class="row no-gutters">
                                                    <div class="col">
                                                        <span>
                                                            <i class="fa fa-star-o"></i>
                                                            <info id="num_follow_217" class="num_follow">12518</info>
                                                        </span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="flow text-right ">
                                                            <a onclick="" class="text-center">
                                                                <i class="fa fa-star-o"></i> Theo dõi
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a href="">
                                                <img alt="" src="~/assets/images/@ha2.TenHinhAnh">
                                            </a>
                                        </div>
                                        <div class="namess">
                                            <a href="">@item.MotaSP</a>
                                        </div>
                                        <hr>
                                        <div class="row no-gutters align-items-center">
                                            <div class="flex-container">
                                                <div class="col text-center">
                                                    <a class="disable-select" onclick="">
                                                        <i class="fa fa-heart-o"></i>Lưu
                                                    </a>
                                                </div>
                                                <div class="col text-center">
                                                    <a class="" style="cursor:pointer" onclick="" href="#"><i class="fa fa-share-alt"></i> Chia sẻ</a>
                                                </div>
                                                <div class="col text-center ">
                                                    <a href=""><i class="fa fa-info-circle"></i> Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <ul class="pagination">
                        <li class="active"><a href="#" class="btn btn-common"><i class="ti-angle-left"></i> Trước</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="active"><a href="#" class="btn btn-common">Kế tiếp <i class="ti-angle-right"></i></a></li>
                    </ul>

                </div>
                <!-- side bar -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <div class="sidebar">
                            <div class="inner-box">
                                <h3>Danh Mục</h3>
                                <ul class="cat-list">
                                    <li>
                                        <a href="#">Finance <span class="num-posts">4,287 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Techonologies <span class="num-posts">4,256 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Art/Design<span class="num-posts">3,245 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Science <span class="num-posts">4,256 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Education Training <span class="num-posts">4,560 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Logistics <span class="num-posts">3,256 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Food Services <span class="num-posts">1,256 Jobs</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inner-box">
                                <h3>Thống kê công việc</h3>
                                <ul class="cat-list">
                                    <li>
                                        <a href="#">Full Time <span class="num-posts">12,256 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Part Time <span class="num-posts">6,510 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Freelancer <span class="num-posts">1,171 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Internship <span class="num-posts">876 Jobs</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inner-box">
                                <h3>Địa điểm</h3>
                                <ul class="cat-list">
                                    <li>
                                        <a href="#">New York <span class="num-posts">4,197 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">San Francisco <span class="num-posts">2,256 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">San Diego <span class="num-posts">3,278 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Los Angeles <span class="num-posts">5,294 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Chicago <span class="num-posts">1,746 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Houston <span class="num-posts">871 Jobs</span></a>
                                    </li>
                                    <li>
                                        <a href="#">New Orleans <span class="num-posts">2,163 Jobs</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>



    @RenderPage("~/Views/Shared/Footer.cshtml")
    @Scripts.Render("~/bundles/js")

</body>

</html>